<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%for i in langs%}
        <!--<li>{{i.name}}</li>-->
        {%ifequal i.name "python"%}
            <li style="color: yellow">{{forloop.counter}}: {{i.name}}</li>
            {%else%}
            <li>{{forloop.counter}}:{{i.name}}</li>
        {%endifequal%}
    {%endfor%}
    <hr>
    {%ifequal langs.1.name "python"%}
            <li style="color: red">{{langs.1.name}}</li>
            {%else%}
            <li>{{i.name}}</li>
        {%endifequal%}
    <!--<p>我喜欢的怨言是{{langs.0.name}},理由是:{{langs.1.desc}}</p>-->
    <p>我喜欢的怨言是{{langs.0.name}},理由是:{{langs.1.get_desc}}</p>
</body>
</html>